* {
    box-sizing: border-box;
}

#board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    outline:1px #000 solid;
    background-color: blanchedalmond;
    height: 100px;
    width: 100px;
    font-family: 'Consolas';
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

#verdict {
    font-family: 'Consolas';
    font-size: large;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}